/*****************************
******** APP GLOBAL CSS ******
*****************************/

/* Responsive width of quasar menu */
@media (min-width: $sizes.xs) and (max-width: $breakpoint-xs)
  .q-menu > .q-list
    min-width: 40vw

@media (min-width: $sizes.sm)
  .q-menu > .q-list
    min-width: 20vw

/* Input textfield */
.q-field--standout.q-field--focused .q-field__control
  background: $blue-1 // Override default error color on standout fields