/*****************************
******** APP GLOBAL CSS ******
*****************************/
@import "icons"

// Responsive width of quasar menu
@media (min-width: $sizes.xs) and (max-width: $breakpoint-xs)
  .q-menu > .q-list
    min-width: 40vw

@media (min-width: $sizes.sm)
  .q-menu > .q-list
    min-width: 20vw

// Input textfield
.q-field--standout.q-field--focused .q-field__control
  background: $secondary // Override default error color on standout fields

// Custom rounder borders
.h-rounded-borders-20
  border-radius: 20px //20px radius

// Default color for anchors
a
  color: $accent
  text-decoration: none

/*****************************
******** Colors **************
*****************************/

.text-customers
  color: $customers

.bg-customers
  background: $customers