/*****************************
******** APP GLOBAL CSS ******
*****************************/

/* Responsive width of quasar menu */
@media (min-width: $sizes.xs) and (max-width: $breakpoint-xs)
  .q-menu > .q-list
    min-width: 40vw

@media (min-width: $sizes.sm)
  .q-menu > .q-list
    min-width: 20vw

/*****************************
***** LOGIN PAGE STYLES ******
*****************************/
@media (min-width: $sizes.xs) and (max-width: $breakpoint-xs)
  .h-login
    min-height: 70vh

@media (min-width: $sizes.sm)
  .h-login
    min-height: 90vh

